.calc-container {
  display: inline-block;
  margin: 6em;
}

.calc-container .calc-output {
  border: 1px solid pink;
  height: 6em;
  position: relative;
}

.calc-container .calc-output > span {
  position: absolute;
  bottom: 0;
  right: 0.2em;
  font-size: 3em;
}

.calc-container .calc-oper {
  display: inline-block;
}

.calc-container button {
  width: 6em;
  height: 6em;
}

.calc-container button.button-clear {
  width: 18em;
}
.calc-container button.button-0 {
  width: 12em;
}
